http://localhost:8080 {
	tls internal

	handle /api/* {
		reverse_proxy hatchet-api:8080
	}

	handle /* {
		reverse_proxy hatchet-frontend:80
	}
}

grpc.dev.hatchet-tools.com {
	tls internal

    reverse_proxy h2c://hatchet-engine:7070
}
