site_name: Hatchet Python SDK
site_description: Documentation for the Hatchet SDK
repo_url: https://github.com/hatchet-dev/hatchet
site_url: https://docs.onhatchet.run/sdks/python/
use_directory_urls: false


plugins:
  - markdown-export
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [hatchet_sdk]
          options:
            show_source: false
            heading_level: 2
            show_category_heading: true
            show_if_no_docstring: true
            show_signature: false
            show_overloads: false
            docstring_style: sphinx
            show_docstring_functions: false
            inherited_members: false
            filters: ["!^_", "!^features$"]
            show_signature_annotations: false
            annotations_path: "brief"
            docstring_section_style: "table"
            show_docstring_attributes: false
            summary:
              attributes: false
              functions: true
              modules: false

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - toc:
      permalink: true
