# Dependencies
node_modules/

# Build output
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.code-workspace

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local 

out/