=begin
#Hatchet API

#The Hatchet API

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module HatchetSdkRest
  class APITokenApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create API Token
    # Create an API token for a tenant
    # @param tenant [String] The tenant id
    # @param [Hash] opts the optional parameters
    # @option opts [CreateAPITokenRequest] :create_api_token_request 
    # @return [CreateAPITokenResponse]
    def api_token_create(tenant, opts = {})
      data, _status_code, _headers = api_token_create_with_http_info(tenant, opts)
      data
    end

    # Create API Token
    # Create an API token for a tenant
    # @param tenant [String] The tenant id
    # @param [Hash] opts the optional parameters
    # @option opts [CreateAPITokenRequest] :create_api_token_request 
    # @return [Array<(CreateAPITokenResponse, Integer, Hash)>] CreateAPITokenResponse data, response status code and response headers
    def api_token_create_with_http_info(tenant, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APITokenApi.api_token_create ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling APITokenApi.api_token_create"
      end
      if @api_client.config.client_side_validation && tenant.to_s.length > 36
        fail ArgumentError, 'invalid value for "tenant" when calling APITokenApi.api_token_create, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && tenant.to_s.length < 36
        fail ArgumentError, 'invalid value for "tenant" when calling APITokenApi.api_token_create, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/api/v1/tenants/{tenant}/api-tokens'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_api_token_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAPITokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"APITokenApi.api_token_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APITokenApi#api_token_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List API Tokens
    # List API tokens for a tenant
    # @param tenant [String] The tenant id
    # @param [Hash] opts the optional parameters
    # @return [ListAPITokensResponse]
    def api_token_list(tenant, opts = {})
      data, _status_code, _headers = api_token_list_with_http_info(tenant, opts)
      data
    end

    # List API Tokens
    # List API tokens for a tenant
    # @param tenant [String] The tenant id
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListAPITokensResponse, Integer, Hash)>] ListAPITokensResponse data, response status code and response headers
    def api_token_list_with_http_info(tenant, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APITokenApi.api_token_list ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling APITokenApi.api_token_list"
      end
      if @api_client.config.client_side_validation && tenant.to_s.length > 36
        fail ArgumentError, 'invalid value for "tenant" when calling APITokenApi.api_token_list, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && tenant.to_s.length < 36
        fail ArgumentError, 'invalid value for "tenant" when calling APITokenApi.api_token_list, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/api/v1/tenants/{tenant}/api-tokens'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAPITokensResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"APITokenApi.api_token_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APITokenApi#api_token_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke API Token
    # Revoke an API token for a tenant
    # @param api_token [String] The API token
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_token_update_revoke(api_token, opts = {})
      api_token_update_revoke_with_http_info(api_token, opts)
      nil
    end

    # Revoke API Token
    # Revoke an API token for a tenant
    # @param api_token [String] The API token
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_token_update_revoke_with_http_info(api_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APITokenApi.api_token_update_revoke ...'
      end
      # verify the required parameter 'api_token' is set
      if @api_client.config.client_side_validation && api_token.nil?
        fail ArgumentError, "Missing the required parameter 'api_token' when calling APITokenApi.api_token_update_revoke"
      end
      if @api_client.config.client_side_validation && api_token.to_s.length > 36
        fail ArgumentError, 'invalid value for "api_token" when calling APITokenApi.api_token_update_revoke, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && api_token.to_s.length < 36
        fail ArgumentError, 'invalid value for "api_token" when calling APITokenApi.api_token_update_revoke, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/api/v1/api-tokens/{api-token}'.sub('{' + 'api-token' + '}', CGI.escape(api_token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"APITokenApi.api_token_update_revoke",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APITokenApi#api_token_update_revoke\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
