=begin
#Hatchet API

#The Hatchet API

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module HatchetSdkRest
  class DurableTasksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List durable event log
    # Lists all event log entries for a durable task.
    # @param tenant [String] The tenant id
    # @param durable_task [String] The durable task external id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset The number of event log entries to skip
    # @option opts [Integer] :limit The number of event log entries to limit by
    # @return [Array<V1DurableEventLogEntry>]
    def v1_durable_task_event_log_list(tenant, durable_task, opts = {})
      data, _status_code, _headers = v1_durable_task_event_log_list_with_http_info(tenant, durable_task, opts)
      data
    end

    # List durable event log
    # Lists all event log entries for a durable task.
    # @param tenant [String] The tenant id
    # @param durable_task [String] The durable task external id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset The number of event log entries to skip
    # @option opts [Integer] :limit The number of event log entries to limit by
    # @return [Array<(Array<V1DurableEventLogEntry>, Integer, Hash)>] Array<V1DurableEventLogEntry> data, response status code and response headers
    def v1_durable_task_event_log_list_with_http_info(tenant, durable_task, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableTasksApi.v1_durable_task_event_log_list ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling DurableTasksApi.v1_durable_task_event_log_list"
      end
      if @api_client.config.client_side_validation && tenant.to_s.length > 36
        fail ArgumentError, 'invalid value for "tenant" when calling DurableTasksApi.v1_durable_task_event_log_list, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && tenant.to_s.length < 36
        fail ArgumentError, 'invalid value for "tenant" when calling DurableTasksApi.v1_durable_task_event_log_list, the character length must be greater than or equal to 36.'
      end

      # verify the required parameter 'durable_task' is set
      if @api_client.config.client_side_validation && durable_task.nil?
        fail ArgumentError, "Missing the required parameter 'durable_task' when calling DurableTasksApi.v1_durable_task_event_log_list"
      end
      if @api_client.config.client_side_validation && durable_task.to_s.length > 36
        fail ArgumentError, 'invalid value for "durable_task" when calling DurableTasksApi.v1_durable_task_event_log_list, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && durable_task.to_s.length < 36
        fail ArgumentError, 'invalid value for "durable_task" when calling DurableTasksApi.v1_durable_task_event_log_list, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/api/v1/stable/tenants/{tenant}/durable-tasks/{durable-task}'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s)).sub('{' + 'durable-task' + '}', CGI.escape(durable_task.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<V1DurableEventLogEntry>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"DurableTasksApi.v1_durable_task_event_log_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableTasksApi#v1_durable_task_event_log_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
