=begin
#Hatchet API

#The Hatchet API

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module HatchetSdkRest
  class FeatureFlagsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Evaluate a feature flag for a tenant
    # Evaluate a feature flag for a tenant
    # @param tenant [String] The tenant ID
    # @param feature_flag_id [FeatureFlagId] The feature flag id to evaluate
    # @param is_enabled_if_no_posthog [Boolean] A flag indicating what the behavior of the feature flag should be if PostHog is disabled or unavailable
    # @param [Hash] opts the optional parameters
    # @return [FeatureFlagEvaluationResult]
    def tenant_feature_flag_evaluate(tenant, feature_flag_id, is_enabled_if_no_posthog, opts = {})
      data, _status_code, _headers = tenant_feature_flag_evaluate_with_http_info(tenant, feature_flag_id, is_enabled_if_no_posthog, opts)
      data
    end

    # Evaluate a feature flag for a tenant
    # Evaluate a feature flag for a tenant
    # @param tenant [String] The tenant ID
    # @param feature_flag_id [FeatureFlagId] The feature flag id to evaluate
    # @param is_enabled_if_no_posthog [Boolean] A flag indicating what the behavior of the feature flag should be if PostHog is disabled or unavailable
    # @param [Hash] opts the optional parameters
    # @return [Array<(FeatureFlagEvaluationResult, Integer, Hash)>] FeatureFlagEvaluationResult data, response status code and response headers
    def tenant_feature_flag_evaluate_with_http_info(tenant, feature_flag_id, is_enabled_if_no_posthog, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeatureFlagsApi.tenant_feature_flag_evaluate ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling FeatureFlagsApi.tenant_feature_flag_evaluate"
      end
      if @api_client.config.client_side_validation && tenant.to_s.length > 36
        fail ArgumentError, 'invalid value for "tenant" when calling FeatureFlagsApi.tenant_feature_flag_evaluate, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && tenant.to_s.length < 36
        fail ArgumentError, 'invalid value for "tenant" when calling FeatureFlagsApi.tenant_feature_flag_evaluate, the character length must be greater than or equal to 36.'
      end

      # verify the required parameter 'feature_flag_id' is set
      if @api_client.config.client_side_validation && feature_flag_id.nil?
        fail ArgumentError, "Missing the required parameter 'feature_flag_id' when calling FeatureFlagsApi.tenant_feature_flag_evaluate"
      end
      # verify the required parameter 'is_enabled_if_no_posthog' is set
      if @api_client.config.client_side_validation && is_enabled_if_no_posthog.nil?
        fail ArgumentError, "Missing the required parameter 'is_enabled_if_no_posthog' when calling FeatureFlagsApi.tenant_feature_flag_evaluate"
      end
      # resource path
      local_var_path = '/api/v1/tenants/{tenant}/feature-flags'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'featureFlagId'] = feature_flag_id
      query_params[:'isEnabledIfNoPosthog'] = is_enabled_if_no_posthog

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FeatureFlagEvaluationResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"FeatureFlagsApi.tenant_feature_flag_evaluate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeatureFlagsApi#tenant_feature_flag_evaluate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
