=begin
#Hatchet API

#The Hatchet API

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module HatchetSdkRest
  class ObservabilityApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get OTel trace
    # Get OTel trace for a workflow run
    # @param tenant [String] The tenant id
    # @param run_external_id [String] The workflow run external id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset The number of spans to skip
    # @option opts [Integer] :limit The number of spans to limit by
    # @return [OtelSpanList]
    def v1_observability_get_trace(tenant, run_external_id, opts = {})
      data, _status_code, _headers = v1_observability_get_trace_with_http_info(tenant, run_external_id, opts)
      data
    end

    # Get OTel trace
    # Get OTel trace for a workflow run
    # @param tenant [String] The tenant id
    # @param run_external_id [String] The workflow run external id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset The number of spans to skip
    # @option opts [Integer] :limit The number of spans to limit by
    # @return [Array<(OtelSpanList, Integer, Hash)>] OtelSpanList data, response status code and response headers
    def v1_observability_get_trace_with_http_info(tenant, run_external_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ObservabilityApi.v1_observability_get_trace ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling ObservabilityApi.v1_observability_get_trace"
      end
      if @api_client.config.client_side_validation && tenant.to_s.length > 36
        fail ArgumentError, 'invalid value for "tenant" when calling ObservabilityApi.v1_observability_get_trace, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && tenant.to_s.length < 36
        fail ArgumentError, 'invalid value for "tenant" when calling ObservabilityApi.v1_observability_get_trace, the character length must be greater than or equal to 36.'
      end

      # verify the required parameter 'run_external_id' is set
      if @api_client.config.client_side_validation && run_external_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_external_id' when calling ObservabilityApi.v1_observability_get_trace"
      end
      if @api_client.config.client_side_validation && run_external_id.to_s.length > 36
        fail ArgumentError, 'invalid value for "run_external_id" when calling ObservabilityApi.v1_observability_get_trace, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && run_external_id.to_s.length < 36
        fail ArgumentError, 'invalid value for "run_external_id" when calling ObservabilityApi.v1_observability_get_trace, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/api/v1/stable/tenants/{tenant}/traces'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'run_external_id'] = run_external_id
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OtelSpanList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ObservabilityApi.v1_observability_get_trace",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ObservabilityApi#v1_observability_get_trace\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
