=begin
#Hatchet API

#The Hatchet API

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module HatchetSdkRest
  class OperatorApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an HTTP operator
    # Create a new HTTP operator
    # @param tenant [String] The tenant id
    # @param v1_create_http_operator_request [V1CreateHTTPOperatorRequest] The input to the HTTP operator creation
    # @param [Hash] opts the optional parameters
    # @return [V1HTTPOperator]
    def v1_http_operator_create(tenant, v1_create_http_operator_request, opts = {})
      data, _status_code, _headers = v1_http_operator_create_with_http_info(tenant, v1_create_http_operator_request, opts)
      data
    end

    # Create an HTTP operator
    # Create a new HTTP operator
    # @param tenant [String] The tenant id
    # @param v1_create_http_operator_request [V1CreateHTTPOperatorRequest] The input to the HTTP operator creation
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1HTTPOperator, Integer, Hash)>] V1HTTPOperator data, response status code and response headers
    def v1_http_operator_create_with_http_info(tenant, v1_create_http_operator_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperatorApi.v1_http_operator_create ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling OperatorApi.v1_http_operator_create"
      end
      if @api_client.config.client_side_validation && tenant.to_s.length > 36
        fail ArgumentError, 'invalid value for "tenant" when calling OperatorApi.v1_http_operator_create, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && tenant.to_s.length < 36
        fail ArgumentError, 'invalid value for "tenant" when calling OperatorApi.v1_http_operator_create, the character length must be greater than or equal to 36.'
      end

      # verify the required parameter 'v1_create_http_operator_request' is set
      if @api_client.config.client_side_validation && v1_create_http_operator_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_create_http_operator_request' when calling OperatorApi.v1_http_operator_create"
      end
      # resource path
      local_var_path = '/api/v1/stable/tenants/{tenant}/operators/http'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_create_http_operator_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1HTTPOperator'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"OperatorApi.v1_http_operator_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperatorApi#v1_http_operator_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an HTTP operator
    # Delete an HTTP operator
    # @param v1_http_operator [String] The id of the HTTP operator to delete
    # @param [Hash] opts the optional parameters
    # @return [V1HTTPOperator]
    def v1_http_operator_delete(v1_http_operator, opts = {})
      data, _status_code, _headers = v1_http_operator_delete_with_http_info(v1_http_operator, opts)
      data
    end

    # Delete an HTTP operator
    # Delete an HTTP operator
    # @param v1_http_operator [String] The id of the HTTP operator to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1HTTPOperator, Integer, Hash)>] V1HTTPOperator data, response status code and response headers
    def v1_http_operator_delete_with_http_info(v1_http_operator, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperatorApi.v1_http_operator_delete ...'
      end
      # verify the required parameter 'v1_http_operator' is set
      if @api_client.config.client_side_validation && v1_http_operator.nil?
        fail ArgumentError, "Missing the required parameter 'v1_http_operator' when calling OperatorApi.v1_http_operator_delete"
      end
      if @api_client.config.client_side_validation && v1_http_operator.to_s.length > 36
        fail ArgumentError, 'invalid value for "v1_http_operator" when calling OperatorApi.v1_http_operator_delete, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && v1_http_operator.to_s.length < 36
        fail ArgumentError, 'invalid value for "v1_http_operator" when calling OperatorApi.v1_http_operator_delete, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/api/v1/stable/operators/http/{v1-http-operator}'.sub('{' + 'v1-http-operator' + '}', CGI.escape(v1_http_operator.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1HTTPOperator'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"OperatorApi.v1_http_operator_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperatorApi#v1_http_operator_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an HTTP operator
    # Get an HTTP operator by its id
    # @param v1_http_operator [String] The HTTP operator id
    # @param [Hash] opts the optional parameters
    # @return [V1HTTPOperator]
    def v1_http_operator_get(v1_http_operator, opts = {})
      data, _status_code, _headers = v1_http_operator_get_with_http_info(v1_http_operator, opts)
      data
    end

    # Get an HTTP operator
    # Get an HTTP operator by its id
    # @param v1_http_operator [String] The HTTP operator id
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1HTTPOperator, Integer, Hash)>] V1HTTPOperator data, response status code and response headers
    def v1_http_operator_get_with_http_info(v1_http_operator, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperatorApi.v1_http_operator_get ...'
      end
      # verify the required parameter 'v1_http_operator' is set
      if @api_client.config.client_side_validation && v1_http_operator.nil?
        fail ArgumentError, "Missing the required parameter 'v1_http_operator' when calling OperatorApi.v1_http_operator_get"
      end
      if @api_client.config.client_side_validation && v1_http_operator.to_s.length > 36
        fail ArgumentError, 'invalid value for "v1_http_operator" when calling OperatorApi.v1_http_operator_get, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && v1_http_operator.to_s.length < 36
        fail ArgumentError, 'invalid value for "v1_http_operator" when calling OperatorApi.v1_http_operator_get, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/api/v1/stable/operators/http/{v1-http-operator}'.sub('{' + 'v1-http-operator' + '}', CGI.escape(v1_http_operator.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1HTTPOperator'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"OperatorApi.v1_http_operator_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperatorApi#v1_http_operator_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List HTTP operators
    # Lists all HTTP operators for a tenant.
    # @param tenant [String] The tenant id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset The number to skip
    # @option opts [Integer] :limit The number to limit by
    # @return [V1HTTPOperatorList]
    def v1_http_operator_list(tenant, opts = {})
      data, _status_code, _headers = v1_http_operator_list_with_http_info(tenant, opts)
      data
    end

    # List HTTP operators
    # Lists all HTTP operators for a tenant.
    # @param tenant [String] The tenant id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset The number to skip
    # @option opts [Integer] :limit The number to limit by
    # @return [Array<(V1HTTPOperatorList, Integer, Hash)>] V1HTTPOperatorList data, response status code and response headers
    def v1_http_operator_list_with_http_info(tenant, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperatorApi.v1_http_operator_list ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling OperatorApi.v1_http_operator_list"
      end
      if @api_client.config.client_side_validation && tenant.to_s.length > 36
        fail ArgumentError, 'invalid value for "tenant" when calling OperatorApi.v1_http_operator_list, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && tenant.to_s.length < 36
        fail ArgumentError, 'invalid value for "tenant" when calling OperatorApi.v1_http_operator_list, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/api/v1/stable/tenants/{tenant}/operators/http'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1HTTPOperatorList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"OperatorApi.v1_http_operator_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperatorApi#v1_http_operator_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an HTTP operator
    # Update an HTTP operator
    # @param v1_http_operator [String] The id of the HTTP operator to update
    # @param v1_update_http_operator_request [V1UpdateHTTPOperatorRequest] The fields to update on the HTTP operator
    # @param [Hash] opts the optional parameters
    # @return [V1HTTPOperator]
    def v1_http_operator_update(v1_http_operator, v1_update_http_operator_request, opts = {})
      data, _status_code, _headers = v1_http_operator_update_with_http_info(v1_http_operator, v1_update_http_operator_request, opts)
      data
    end

    # Update an HTTP operator
    # Update an HTTP operator
    # @param v1_http_operator [String] The id of the HTTP operator to update
    # @param v1_update_http_operator_request [V1UpdateHTTPOperatorRequest] The fields to update on the HTTP operator
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1HTTPOperator, Integer, Hash)>] V1HTTPOperator data, response status code and response headers
    def v1_http_operator_update_with_http_info(v1_http_operator, v1_update_http_operator_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OperatorApi.v1_http_operator_update ...'
      end
      # verify the required parameter 'v1_http_operator' is set
      if @api_client.config.client_side_validation && v1_http_operator.nil?
        fail ArgumentError, "Missing the required parameter 'v1_http_operator' when calling OperatorApi.v1_http_operator_update"
      end
      if @api_client.config.client_side_validation && v1_http_operator.to_s.length > 36
        fail ArgumentError, 'invalid value for "v1_http_operator" when calling OperatorApi.v1_http_operator_update, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && v1_http_operator.to_s.length < 36
        fail ArgumentError, 'invalid value for "v1_http_operator" when calling OperatorApi.v1_http_operator_update, the character length must be greater than or equal to 36.'
      end

      # verify the required parameter 'v1_update_http_operator_request' is set
      if @api_client.config.client_side_validation && v1_update_http_operator_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_update_http_operator_request' when calling OperatorApi.v1_http_operator_update"
      end
      # resource path
      local_var_path = '/api/v1/stable/operators/http/{v1-http-operator}'.sub('{' + 'v1-http-operator' + '}', CGI.escape(v1_http_operator.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_update_http_operator_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1HTTPOperator'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"OperatorApi.v1_http_operator_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OperatorApi#v1_http_operator_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
