=begin
#Hatchet API

#The Hatchet API

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module HatchetSdkRest
  class ServerlessApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a serverless endpoint
    # Create a serverless endpoint
    # @param tenant [String] The tenant id
    # @param v1_create_serverless_endpoint_request [V1CreateServerlessEndpointRequest] The input to the serverless endpoint creation
    # @param [Hash] opts the optional parameters
    # @return [V1ServerlessEndpoint]
    def v1_serverless_endpoint_create(tenant, v1_create_serverless_endpoint_request, opts = {})
      data, _status_code, _headers = v1_serverless_endpoint_create_with_http_info(tenant, v1_create_serverless_endpoint_request, opts)
      data
    end

    # Create a serverless endpoint
    # Create a serverless endpoint
    # @param tenant [String] The tenant id
    # @param v1_create_serverless_endpoint_request [V1CreateServerlessEndpointRequest] The input to the serverless endpoint creation
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1ServerlessEndpoint, Integer, Hash)>] V1ServerlessEndpoint data, response status code and response headers
    def v1_serverless_endpoint_create_with_http_info(tenant, v1_create_serverless_endpoint_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServerlessApi.v1_serverless_endpoint_create ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling ServerlessApi.v1_serverless_endpoint_create"
      end
      if @api_client.config.client_side_validation && tenant.to_s.length > 36
        fail ArgumentError, 'invalid value for "tenant" when calling ServerlessApi.v1_serverless_endpoint_create, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && tenant.to_s.length < 36
        fail ArgumentError, 'invalid value for "tenant" when calling ServerlessApi.v1_serverless_endpoint_create, the character length must be greater than or equal to 36.'
      end

      # verify the required parameter 'v1_create_serverless_endpoint_request' is set
      if @api_client.config.client_side_validation && v1_create_serverless_endpoint_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_create_serverless_endpoint_request' when calling ServerlessApi.v1_serverless_endpoint_create"
      end
      # resource path
      local_var_path = '/api/v1/stable/tenants/{tenant}/serverless/endpoints'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_create_serverless_endpoint_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1ServerlessEndpoint'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ServerlessApi.v1_serverless_endpoint_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServerlessApi#v1_serverless_endpoint_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a serverless endpoint
    # Delete a serverless endpoint
    # @param v1_serverless_endpoint [String] The id of the serverless endpoint to delete
    # @param [Hash] opts the optional parameters
    # @return [V1ServerlessEndpoint]
    def v1_serverless_endpoint_delete(v1_serverless_endpoint, opts = {})
      data, _status_code, _headers = v1_serverless_endpoint_delete_with_http_info(v1_serverless_endpoint, opts)
      data
    end

    # Delete a serverless endpoint
    # Delete a serverless endpoint
    # @param v1_serverless_endpoint [String] The id of the serverless endpoint to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1ServerlessEndpoint, Integer, Hash)>] V1ServerlessEndpoint data, response status code and response headers
    def v1_serverless_endpoint_delete_with_http_info(v1_serverless_endpoint, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServerlessApi.v1_serverless_endpoint_delete ...'
      end
      # verify the required parameter 'v1_serverless_endpoint' is set
      if @api_client.config.client_side_validation && v1_serverless_endpoint.nil?
        fail ArgumentError, "Missing the required parameter 'v1_serverless_endpoint' when calling ServerlessApi.v1_serverless_endpoint_delete"
      end
      if @api_client.config.client_side_validation && v1_serverless_endpoint.to_s.length > 36
        fail ArgumentError, 'invalid value for "v1_serverless_endpoint" when calling ServerlessApi.v1_serverless_endpoint_delete, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && v1_serverless_endpoint.to_s.length < 36
        fail ArgumentError, 'invalid value for "v1_serverless_endpoint" when calling ServerlessApi.v1_serverless_endpoint_delete, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/api/v1/stable/serverless/endpoints/{v1-serverless-endpoint}'.sub('{' + 'v1-serverless-endpoint' + '}', CGI.escape(v1_serverless_endpoint.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1ServerlessEndpoint'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ServerlessApi.v1_serverless_endpoint_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServerlessApi#v1_serverless_endpoint_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a serverless endpoint
    # Get a serverless endpoint by its id
    # @param v1_serverless_endpoint [String] The serverless endpoint id
    # @param [Hash] opts the optional parameters
    # @return [V1ServerlessEndpoint]
    def v1_serverless_endpoint_get(v1_serverless_endpoint, opts = {})
      data, _status_code, _headers = v1_serverless_endpoint_get_with_http_info(v1_serverless_endpoint, opts)
      data
    end

    # Get a serverless endpoint
    # Get a serverless endpoint by its id
    # @param v1_serverless_endpoint [String] The serverless endpoint id
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1ServerlessEndpoint, Integer, Hash)>] V1ServerlessEndpoint data, response status code and response headers
    def v1_serverless_endpoint_get_with_http_info(v1_serverless_endpoint, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServerlessApi.v1_serverless_endpoint_get ...'
      end
      # verify the required parameter 'v1_serverless_endpoint' is set
      if @api_client.config.client_side_validation && v1_serverless_endpoint.nil?
        fail ArgumentError, "Missing the required parameter 'v1_serverless_endpoint' when calling ServerlessApi.v1_serverless_endpoint_get"
      end
      if @api_client.config.client_side_validation && v1_serverless_endpoint.to_s.length > 36
        fail ArgumentError, 'invalid value for "v1_serverless_endpoint" when calling ServerlessApi.v1_serverless_endpoint_get, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && v1_serverless_endpoint.to_s.length < 36
        fail ArgumentError, 'invalid value for "v1_serverless_endpoint" when calling ServerlessApi.v1_serverless_endpoint_get, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/api/v1/stable/serverless/endpoints/{v1-serverless-endpoint}'.sub('{' + 'v1-serverless-endpoint' + '}', CGI.escape(v1_serverless_endpoint.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1ServerlessEndpoint'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ServerlessApi.v1_serverless_endpoint_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServerlessApi#v1_serverless_endpoint_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List serverless endpoints
    # Lists the serverless endpoints of a tenant.
    # @param tenant [String] The tenant id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset The number to skip
    # @option opts [Integer] :limit The number to limit by
    # @return [V1ServerlessEndpointList]
    def v1_serverless_endpoint_list(tenant, opts = {})
      data, _status_code, _headers = v1_serverless_endpoint_list_with_http_info(tenant, opts)
      data
    end

    # List serverless endpoints
    # Lists the serverless endpoints of a tenant.
    # @param tenant [String] The tenant id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset The number to skip
    # @option opts [Integer] :limit The number to limit by
    # @return [Array<(V1ServerlessEndpointList, Integer, Hash)>] V1ServerlessEndpointList data, response status code and response headers
    def v1_serverless_endpoint_list_with_http_info(tenant, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServerlessApi.v1_serverless_endpoint_list ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling ServerlessApi.v1_serverless_endpoint_list"
      end
      if @api_client.config.client_side_validation && tenant.to_s.length > 36
        fail ArgumentError, 'invalid value for "tenant" when calling ServerlessApi.v1_serverless_endpoint_list, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && tenant.to_s.length < 36
        fail ArgumentError, 'invalid value for "tenant" when calling ServerlessApi.v1_serverless_endpoint_list, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/api/v1/stable/tenants/{tenant}/serverless/endpoints'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1ServerlessEndpointList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ServerlessApi.v1_serverless_endpoint_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServerlessApi#v1_serverless_endpoint_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a serverless endpoint
    # Update a serverless endpoint
    # @param v1_serverless_endpoint [String] The id of the serverless endpoint to update
    # @param v1_update_serverless_endpoint_request [V1UpdateServerlessEndpointRequest] The fields to update on the serverless endpoint
    # @param [Hash] opts the optional parameters
    # @return [V1ServerlessEndpoint]
    def v1_serverless_endpoint_update(v1_serverless_endpoint, v1_update_serverless_endpoint_request, opts = {})
      data, _status_code, _headers = v1_serverless_endpoint_update_with_http_info(v1_serverless_endpoint, v1_update_serverless_endpoint_request, opts)
      data
    end

    # Update a serverless endpoint
    # Update a serverless endpoint
    # @param v1_serverless_endpoint [String] The id of the serverless endpoint to update
    # @param v1_update_serverless_endpoint_request [V1UpdateServerlessEndpointRequest] The fields to update on the serverless endpoint
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1ServerlessEndpoint, Integer, Hash)>] V1ServerlessEndpoint data, response status code and response headers
    def v1_serverless_endpoint_update_with_http_info(v1_serverless_endpoint, v1_update_serverless_endpoint_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServerlessApi.v1_serverless_endpoint_update ...'
      end
      # verify the required parameter 'v1_serverless_endpoint' is set
      if @api_client.config.client_side_validation && v1_serverless_endpoint.nil?
        fail ArgumentError, "Missing the required parameter 'v1_serverless_endpoint' when calling ServerlessApi.v1_serverless_endpoint_update"
      end
      if @api_client.config.client_side_validation && v1_serverless_endpoint.to_s.length > 36
        fail ArgumentError, 'invalid value for "v1_serverless_endpoint" when calling ServerlessApi.v1_serverless_endpoint_update, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && v1_serverless_endpoint.to_s.length < 36
        fail ArgumentError, 'invalid value for "v1_serverless_endpoint" when calling ServerlessApi.v1_serverless_endpoint_update, the character length must be greater than or equal to 36.'
      end

      # verify the required parameter 'v1_update_serverless_endpoint_request' is set
      if @api_client.config.client_side_validation && v1_update_serverless_endpoint_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_update_serverless_endpoint_request' when calling ServerlessApi.v1_serverless_endpoint_update"
      end
      # resource path
      local_var_path = '/api/v1/stable/serverless/endpoints/{v1-serverless-endpoint}'.sub('{' + 'v1-serverless-endpoint' + '}', CGI.escape(v1_serverless_endpoint.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_update_serverless_endpoint_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1ServerlessEndpoint'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ServerlessApi.v1_serverless_endpoint_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServerlessApi#v1_serverless_endpoint_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get serverless settings
    # Get the serverless settings of a tenant
    # @param tenant [String] The tenant id
    # @param [Hash] opts the optional parameters
    # @return [V1ServerlessTenantSettings]
    def v1_serverless_tenant_get(tenant, opts = {})
      data, _status_code, _headers = v1_serverless_tenant_get_with_http_info(tenant, opts)
      data
    end

    # Get serverless settings
    # Get the serverless settings of a tenant
    # @param tenant [String] The tenant id
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1ServerlessTenantSettings, Integer, Hash)>] V1ServerlessTenantSettings data, response status code and response headers
    def v1_serverless_tenant_get_with_http_info(tenant, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServerlessApi.v1_serverless_tenant_get ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling ServerlessApi.v1_serverless_tenant_get"
      end
      if @api_client.config.client_side_validation && tenant.to_s.length > 36
        fail ArgumentError, 'invalid value for "tenant" when calling ServerlessApi.v1_serverless_tenant_get, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && tenant.to_s.length < 36
        fail ArgumentError, 'invalid value for "tenant" when calling ServerlessApi.v1_serverless_tenant_get, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/api/v1/stable/tenants/{tenant}/serverless/settings'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1ServerlessTenantSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ServerlessApi.v1_serverless_tenant_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServerlessApi#v1_serverless_tenant_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update serverless settings
    # Update the serverless settings of a tenant
    # @param tenant [String] The tenant id
    # @param v1_update_serverless_tenant_settings_request [V1UpdateServerlessTenantSettingsRequest] The settings to update
    # @param [Hash] opts the optional parameters
    # @return [V1ServerlessTenantSettings]
    def v1_serverless_tenant_update(tenant, v1_update_serverless_tenant_settings_request, opts = {})
      data, _status_code, _headers = v1_serverless_tenant_update_with_http_info(tenant, v1_update_serverless_tenant_settings_request, opts)
      data
    end

    # Update serverless settings
    # Update the serverless settings of a tenant
    # @param tenant [String] The tenant id
    # @param v1_update_serverless_tenant_settings_request [V1UpdateServerlessTenantSettingsRequest] The settings to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1ServerlessTenantSettings, Integer, Hash)>] V1ServerlessTenantSettings data, response status code and response headers
    def v1_serverless_tenant_update_with_http_info(tenant, v1_update_serverless_tenant_settings_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServerlessApi.v1_serverless_tenant_update ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling ServerlessApi.v1_serverless_tenant_update"
      end
      if @api_client.config.client_side_validation && tenant.to_s.length > 36
        fail ArgumentError, 'invalid value for "tenant" when calling ServerlessApi.v1_serverless_tenant_update, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && tenant.to_s.length < 36
        fail ArgumentError, 'invalid value for "tenant" when calling ServerlessApi.v1_serverless_tenant_update, the character length must be greater than or equal to 36.'
      end

      # verify the required parameter 'v1_update_serverless_tenant_settings_request' is set
      if @api_client.config.client_side_validation && v1_update_serverless_tenant_settings_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_update_serverless_tenant_settings_request' when calling ServerlessApi.v1_serverless_tenant_update"
      end
      # resource path
      local_var_path = '/api/v1/stable/tenants/{tenant}/serverless/settings'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_update_serverless_tenant_settings_request)

      # return_type
      return_type = opts[:debug_return_type] || 'V1ServerlessTenantSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"ServerlessApi.v1_serverless_tenant_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServerlessApi#v1_serverless_tenant_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
