=begin
#Hatchet API

#The Hatchet API

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module HatchetSdkRest
  class SlackApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete Slack webhook
    # Delete Slack webhook
    # @param slack [String] The Slack webhook id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def slack_webhook_delete(slack, opts = {})
      slack_webhook_delete_with_http_info(slack, opts)
      nil
    end

    # Delete Slack webhook
    # Delete Slack webhook
    # @param slack [String] The Slack webhook id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def slack_webhook_delete_with_http_info(slack, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlackApi.slack_webhook_delete ...'
      end
      # verify the required parameter 'slack' is set
      if @api_client.config.client_side_validation && slack.nil?
        fail ArgumentError, "Missing the required parameter 'slack' when calling SlackApi.slack_webhook_delete"
      end
      if @api_client.config.client_side_validation && slack.to_s.length > 36
        fail ArgumentError, 'invalid value for "slack" when calling SlackApi.slack_webhook_delete, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && slack.to_s.length < 36
        fail ArgumentError, 'invalid value for "slack" when calling SlackApi.slack_webhook_delete, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/api/v1/slack/{slack}'.sub('{' + 'slack' + '}', CGI.escape(slack.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SlackApi.slack_webhook_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlackApi#slack_webhook_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Slack integrations
    # List Slack webhooks
    # @param tenant [String] The tenant id
    # @param [Hash] opts the optional parameters
    # @return [ListSlackWebhooks]
    def slack_webhook_list(tenant, opts = {})
      data, _status_code, _headers = slack_webhook_list_with_http_info(tenant, opts)
      data
    end

    # List Slack integrations
    # List Slack webhooks
    # @param tenant [String] The tenant id
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListSlackWebhooks, Integer, Hash)>] ListSlackWebhooks data, response status code and response headers
    def slack_webhook_list_with_http_info(tenant, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SlackApi.slack_webhook_list ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling SlackApi.slack_webhook_list"
      end
      if @api_client.config.client_side_validation && tenant.to_s.length > 36
        fail ArgumentError, 'invalid value for "tenant" when calling SlackApi.slack_webhook_list, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && tenant.to_s.length < 36
        fail ArgumentError, 'invalid value for "tenant" when calling SlackApi.slack_webhook_list, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/api/v1/tenants/{tenant}/slack'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListSlackWebhooks'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"SlackApi.slack_webhook_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SlackApi#slack_webhook_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
