=begin
#Hatchet API

#The Hatchet API

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module HatchetSdkRest
  class StreamsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get stream payload
    # Get a durable stream payload uploaded ahead of its publish, by the payload_ref of the message that references it.
    # @param tenant [String] The tenant id
    # @param ref [String] The payload_ref of the stream message
    # @param [Hash] opts the optional parameters
    # @return [File]
    def v1_stream_payload_get(tenant, ref, opts = {})
      data, _status_code, _headers = v1_stream_payload_get_with_http_info(tenant, ref, opts)
      data
    end

    # Get stream payload
    # Get a durable stream payload uploaded ahead of its publish, by the payload_ref of the message that references it.
    # @param tenant [String] The tenant id
    # @param ref [String] The payload_ref of the stream message
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def v1_stream_payload_get_with_http_info(tenant, ref, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StreamsApi.v1_stream_payload_get ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling StreamsApi.v1_stream_payload_get"
      end
      if @api_client.config.client_side_validation && tenant.to_s.length > 36
        fail ArgumentError, 'invalid value for "tenant" when calling StreamsApi.v1_stream_payload_get, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && tenant.to_s.length < 36
        fail ArgumentError, 'invalid value for "tenant" when calling StreamsApi.v1_stream_payload_get, the character length must be greater than or equal to 36.'
      end

      # verify the required parameter 'ref' is set
      if @api_client.config.client_side_validation && ref.nil?
        fail ArgumentError, "Missing the required parameter 'ref' when calling StreamsApi.v1_stream_payload_get"
      end
      # resource path
      local_var_path = '/api/v1/stable/tenants/{tenant}/streams/payloads'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ref'] = ref

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StreamsApi.v1_stream_payload_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StreamsApi#v1_stream_payload_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload stream payload
    # Upload a payload too large for a gRPC publish, then publish the message with the returned ref as its payload_ref.
    # @param tenant [String] The tenant id
    # @param payload [File]
    # @param [Hash] opts the optional parameters
    # @return [V1StreamPayloadRef]
    def v1_stream_payload_upload(tenant, payload, opts = {})
      data, _status_code, _headers = v1_stream_payload_upload_with_http_info(tenant, payload, opts)
      data
    end

    # Upload stream payload
    # Upload a payload too large for a gRPC publish, then publish the message with the returned ref as its payload_ref.
    # @param tenant [String] The tenant id
    # @param payload [File]
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1StreamPayloadRef, Integer, Hash)>] V1StreamPayloadRef data, response status code and response headers
    def v1_stream_payload_upload_with_http_info(tenant, payload, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StreamsApi.v1_stream_payload_upload ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling StreamsApi.v1_stream_payload_upload"
      end
      if @api_client.config.client_side_validation && tenant.to_s.length > 36
        fail ArgumentError, 'invalid value for "tenant" when calling StreamsApi.v1_stream_payload_upload, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && tenant.to_s.length < 36
        fail ArgumentError, 'invalid value for "tenant" when calling StreamsApi.v1_stream_payload_upload, the character length must be greater than or equal to 36.'
      end

      # verify the required parameter 'payload' is set
      if @api_client.config.client_side_validation && payload.nil?
        fail ArgumentError, "Missing the required parameter 'payload' when calling StreamsApi.v1_stream_payload_upload"
      end
      # resource path
      local_var_path = '/api/v1/stable/tenants/{tenant}/streams/payloads'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['payload'] = payload

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1StreamPayloadRef'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"StreamsApi.v1_stream_payload_upload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StreamsApi#v1_stream_payload_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
