=begin
#Hatchet API

#The Hatchet API

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module HatchetSdkRest
  class WorkerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get worker
    # Get a worker
    # @param worker [String] The worker id
    # @param [Hash] opts the optional parameters
    # @return [Worker]
    def worker_get(worker, opts = {})
      data, _status_code, _headers = worker_get_with_http_info(worker, opts)
      data
    end

    # Get worker
    # Get a worker
    # @param worker [String] The worker id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Worker, Integer, Hash)>] Worker data, response status code and response headers
    def worker_get_with_http_info(worker, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkerApi.worker_get ...'
      end
      # verify the required parameter 'worker' is set
      if @api_client.config.client_side_validation && worker.nil?
        fail ArgumentError, "Missing the required parameter 'worker' when calling WorkerApi.worker_get"
      end
      if @api_client.config.client_side_validation && worker.to_s.length > 36
        fail ArgumentError, 'invalid value for "worker" when calling WorkerApi.worker_get, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && worker.to_s.length < 36
        fail ArgumentError, 'invalid value for "worker" when calling WorkerApi.worker_get, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/api/v1/workers/{worker}'.sub('{' + 'worker' + '}', CGI.escape(worker.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Worker'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkerApi.worker_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkerApi#worker_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get workers
    # Get all workers for a tenant
    # @param tenant [String] The tenant id
    # @param [Hash] opts the optional parameters
    # @return [WorkerList]
    def worker_list(tenant, opts = {})
      data, _status_code, _headers = worker_list_with_http_info(tenant, opts)
      data
    end

    # Get workers
    # Get all workers for a tenant
    # @param tenant [String] The tenant id
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkerList, Integer, Hash)>] WorkerList data, response status code and response headers
    def worker_list_with_http_info(tenant, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkerApi.worker_list ...'
      end
      # verify the required parameter 'tenant' is set
      if @api_client.config.client_side_validation && tenant.nil?
        fail ArgumentError, "Missing the required parameter 'tenant' when calling WorkerApi.worker_list"
      end
      if @api_client.config.client_side_validation && tenant.to_s.length > 36
        fail ArgumentError, 'invalid value for "tenant" when calling WorkerApi.worker_list, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && tenant.to_s.length < 36
        fail ArgumentError, 'invalid value for "tenant" when calling WorkerApi.worker_list, the character length must be greater than or equal to 36.'
      end

      # resource path
      local_var_path = '/api/v1/tenants/{tenant}/worker'.sub('{' + 'tenant' + '}', CGI.escape(tenant.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkerList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkerApi.worker_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkerApi#worker_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update worker
    # Update a worker
    # @param worker [String] The worker id
    # @param update_worker_request [UpdateWorkerRequest] The worker update
    # @param [Hash] opts the optional parameters
    # @return [Worker]
    def worker_update(worker, update_worker_request, opts = {})
      data, _status_code, _headers = worker_update_with_http_info(worker, update_worker_request, opts)
      data
    end

    # Update worker
    # Update a worker
    # @param worker [String] The worker id
    # @param update_worker_request [UpdateWorkerRequest] The worker update
    # @param [Hash] opts the optional parameters
    # @return [Array<(Worker, Integer, Hash)>] Worker data, response status code and response headers
    def worker_update_with_http_info(worker, update_worker_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkerApi.worker_update ...'
      end
      # verify the required parameter 'worker' is set
      if @api_client.config.client_side_validation && worker.nil?
        fail ArgumentError, "Missing the required parameter 'worker' when calling WorkerApi.worker_update"
      end
      if @api_client.config.client_side_validation && worker.to_s.length > 36
        fail ArgumentError, 'invalid value for "worker" when calling WorkerApi.worker_update, the character length must be smaller than or equal to 36.'
      end

      if @api_client.config.client_side_validation && worker.to_s.length < 36
        fail ArgumentError, 'invalid value for "worker" when calling WorkerApi.worker_update, the character length must be greater than or equal to 36.'
      end

      # verify the required parameter 'update_worker_request' is set
      if @api_client.config.client_side_validation && update_worker_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_worker_request' when calling WorkerApi.worker_update"
      end
      # resource path
      local_var_path = '/api/v1/workers/{worker}'.sub('{' + 'worker' + '}', CGI.escape(worker.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_worker_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Worker'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cookieAuth', 'bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkerApi.worker_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkerApi#worker_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
