#root {
  display:flex;
  justify-content: center;
  background-color: #f9f9f9;

}

.App {
  width: 100%;
  max-width: 390px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Messages {
  flex: 1;
  overflow-y: auto;
}




.App-link {
  color: #61dafb;
}

/* Container styles */
.Input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
  border-radius: 8px;
  padding-bottom: 10px;
}

/* Textarea styles */
.Input textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none; /* Allows the user to resize the textarea vertically */
}

/* Button styles */
.Input button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Input button:hover {
  background-color: #0056b3;
}

/* Link styles */
.Input a {
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.Input a:hover {
  text-decoration: underline;
}
