name: "frontend / app"
on:
  pull_request:
    paths:
      - "frontend/app/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.16.1
          run_install: false
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          cache: pnpm
          cache-dependency-path: frontend/app/pnpm-lock.yaml
      - name: Install dependencies
        working-directory: frontend/app
        run: pnpm install --frozen-lockfile
      - name: Lint
        working-directory: frontend/app
        run: npm run lint:check

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.16.1
          run_install: false
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          cache: pnpm
          cache-dependency-path: frontend/app/pnpm-lock.yaml
      - name: Install dependencies
        working-directory: frontend/app
        run: pnpm install --frozen-lockfile
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Generate docs snippets and examples
        working-directory: frontend/snippets
        run: python3 generate.py
      - name: Build
        working-directory: frontend/app
        run: npm run build
