name: lint all
on:
  pull_request:

jobs:
  lint:
    runs-on: ubicloud-standard-2
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
      - uses: actions/setup-python@v6
      - uses: pre-commit/action@v3.0.1
        name: lint
