# name: lint all
# on:
#   pull_request:

# jobs:
#   lint:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4
#       - name: Setup Go
#         uses: actions/setup-go@v5
#         with:
#           go-version: "1.24"
#       - uses: actions/setup-python@v5
#       - uses: pre-commit/action@v3.0.1
#         name: lint
