name: typescript
on:
  pull_request:
    paths:
      - ".github/**"
      - "api/**"
      - "api-contracts/**"
      - "internal/**"
      - "pkg/**"
      - "sdks/typescript/**"
  push:
    branches:
      - main
    paths:
      - "sdks/typescript/**"

defaults:
  run:
    working-directory: ./sdks/typescript

jobs:
  lint:
    runs-on: ubicloud-standard-4
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive

      - name: Install pnpm
        run: npm install -g pnpm@10.16.1

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm lint:check

      - name: Type check
        run: npx tsc

  test-unit:
    runs-on: ubicloud-standard-4
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive

      - name: Install pnpm
        run: npm install -g pnpm@10.16.1

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Unit tests
        run: pnpm test:unit

  test-e2e:
    runs-on: ubicloud-standard-4
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Sync Submodule Branch
        shell: bash
        run: |
          ./branch-sync.sh
      - name: Install Protoc
        uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0
        with:
          version: "25.1"
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v2.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "1.25"

      - name: Install pnpm
        run: npm install -g pnpm@10.16.1

      - name: Install Atlas
        run: |
          curl -sSf https://atlasgo.sh | sh

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Compose
        working-directory: .
        run: docker compose up -d

      - name: Install dependencies
        run: pnpm install

      - name: Generate
        working-directory: .
        run: |
          export DATABASE_URL="postgresql://hatchet:hatchet@127.0.0.1:5431/hatchet"
          go run ./cmd/hatchet-migrate

      - name: Setup
        working-directory: .
        run: |
          export SEED_DEVELOPMENT=true
          export SERVER_PORT=8080
          export SERVER_URL=http://localhost:8080
          export SERVER_AUTH_COOKIE_DOMAIN=localhost
          export SERVER_AUTH_COOKIE_INSECURE=true
          export SERVER_MSGQUEUE_RABBITMQ_URL="amqp://user:password@localhost:5672/"

          go run ./cmd/hatchet-admin quickstart

          go run ./cmd/hatchet-engine --config ./generated/ &
          go run ./cmd/hatchet-api --config ./generated/ &

          sleep 30
      - name: E2E tests
        run: |
          cd ../..
          export HATCHET_CLIENT_TOKEN="$(go run ./cmd/hatchet-admin token create --config ./generated/ --tenant-id 707d0855-80ab-4e1f-a156-f1c4546cbf52)"

          cd sdks/typescript
          export HATCHET_CLIENT_TLS_ROOT_CA_FILE=../../certs/ca.cert
          export NODE_TLS_REJECT_UNAUTHORIZED=0
          pnpm test:e2e

  publish:
    runs-on: ubicloud-standard-4
    needs: [lint, test-unit, test-e2e]
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive

      - name: Install pnpm
        run: npm install -g pnpm@10.16.1

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Build and Publish SDK
        run: |
          VERSION=$(jq '.version' package.json)
          CURRENT_NPM_VERSION=$(pnpm view @hatchet-dev/typescript-sdk version)

          if [[ "$VERSION" == "$CURRENT_NPM_VERSION" ]]; then
            echo "Version has not changed. Skipping publish."
            exit 0
          fi

          ## If the version contains `alpha`, it's an alpha version
          ## and we should tag it as such.=
          if [[ "$VERSION" == *alpha* ]]; then
              pnpm publish:ci:alpha
          else
              pnpm publish:ci
          fi
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
